doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  title Hello, world!
  style(type='text/css').
    body {
      padding: 20px;
    }
    hr.outer {
      border: 3px solid #1100aa;
    }
    hr.inner {
      border: 1px solid #1100aa;
    }
    .price, .quantity {
      text-align: center;
    }
    .total {
      text-align: right;
    }
    .quantity {
      padding: 0;
    }
body
  hr.outer
  each val1 in byUser
    h2= val1.nickname
    .row
      .col-4.item
        h4 항목
      .col-3.price
        h4 가격
      .col-2.quantity
        h4 수량
      .col-3.total
        h4 합계
    hr.inner
    each val2 in val1.items
      .row
        .col-4.item
          h4= val2.itemname
        .col-3.price
          h4= val2.price
        .col-2.quantity
          if val2.o_quantity == 0
            h4 공통
          else
            h4= val2.quantity
        .col-3.total
          if val2.o_quantity == 0
            h4= commons[val2.id]['price'] / commons[val2.id]['count']
          else
            h4= val2.price*val2.quantity
    hr.outer

  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
